@import url(style.css);

section#home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 336px;
    margin-right: 336px;
}

#home .text-content, .img-content{
    padding-top: 100px;
    padding-bottom: 100px;
}

#home .text-content h1{
    font-weight: 600;
    font-size: 36px;
    margin-right: 45px;
}

#home .text-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 26px;
}

#home .home-buttons{
    display: flex;
    gap: 32px;
}

#home button{
    height: 50px;
    width: 218px;
}

#home .home-buttons a{
    text-decoration: none;
    color: var(--baby-powder);
    font-size: 16px;
}

#home .home-buttons .gt{
    background: var(--true-blue);
    border: none;
    border-radius: 4px;
}

#home .home-buttons .gh{
    background: var(--rich-black);
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}